/* body{
    background-image: url(../images/desert.jpg);
    font-family: 'Lora', serif;
}
.footer{
    background-color:rgb(18, 17, 63) ;
    color: white;
    padding-bottom: 30px;
}
#foot{
    margin-left: 2.5rem;
} */
.big-banner{
    background-image: url(../images/2.jpg);
    height: 30rem;
}
