body{
    background-color: #333333;
    /* background-color: rgba(51,51,51, 0.54); */
    color: white;

}
.header{
    background-image: url(../images/t1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(51,51,51, 0.54);
    height: 40rem;
    background-blend-mode: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    width: 50%;
}
.font{
    font-weight: 400;
    color: white;

}
button:hover{
    
    background-color: rgb(42, 51, 59);
    color: black;
}
.first{
    background-image: url(../images/t2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
    height: 40rem;
}
.firstCol{
    /* display: flex; */
    align-items: center;
    justify-content: center;

}
hr{
    border: 1px solid white;
    width: 5%;
}

.videos{
    background-color: #333333;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-image: url(../images/); */
    font-family: "Open Sans";
    font-weight: 700;
    /* width: 31.2%; */
}


.second{
    background-image: url(../images/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
    height: 40rem;
}